.Parentbox {
  width: 800px;
  overflow: hidden;
  margin: auto;
  margin-top: 100px;
}

.Photo {
  float: left;
  width: 50%;
  height: 400px;
  background-color: #F4F4F4;
}

.Photo img {
  width: 100%;
}

.Deskripsi {
  width: 40%;
  overflow: hidden;
  float: left;
  margin-left: 30px;
}

.Deskripsi .Info {
  line-height: 1.0;
  color: rgb(18, 11, 49);
}

.Deskripsi .Price {
  font-size: 20px;
  font-weight: 500;
}

.Deskripsi .Title {
  margin: 0;

}

.Deskripsi .Cate {
  color: #acaeb2;
}